<header>
    <div class="inner">
		<div style="float: left; margin-top: -20px; display: inline-block;">
			<img  src="{{ '/assets/img/logo.png' | absolute_url }}" alt=“Logo” />
		</div>
		<div style=" padding-right: 10px; margin-top: 0px; display: inline-block;">
			<a href="{{ '/' | absolute_url }}">
			  <h1>{{ site.title | default: site.github.repository_name }}</h1>
			</a>
			<h2>{{ site.description | default: site.github.project_tagline }}</h2>
		</div>
		<div style="float:right;">
			
		</div>
    </div>
</header>